$header-left-background: #f7f7f7;
$header-left-color: #515151;

$header-right-background: #f9f9f9;
$header-right-color: #646464;

$menu-background: #EDEDED;
$menu-color: #2f2f2f;

$content-background: #f5f5f5;
$content-title-color: #313131;
$content-font-color: #343434;


$footer-background: #FFFFFF;
$footer-color: #505050;