html,
body {
  font-size: 12px;
  padding: 0;
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.loading-parent-relative {
  position: relative;
}

.xgplayer,
.xgplayer-replay {
  border-radius: 10px;
}
